@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1350px;
    margin-inline: auto;
    position: relative;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.skipToContent {
    position: absolute;
    top: -5px;
    left: -5px;
    transform: translate(-100%, -100%);
}  

.toTop {
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid black;
}