@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1350px;
    margin-inline: auto;
    position: relative;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.skipToContent {
    position: absolute;
    padding: 15px;
    color: white;
    background-color: darkgreen;
    border-radius: 3px;
    top: 0;
    left: 20px;
    transform: translateY(-100%);
    transition: .3s;
}

.skipToContent:focus {
    transform: translateY(150%);
    outline: 1px solid white;
}

.toTop {
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid black;
}

@media only screen and (min-width: 1350px) {
    .toTop {
        right: calc((100vw - 1350px) / 2 + 10px);
    }
}