.heroSection {
    position: relative;
    /* max-height: 900px; */
    /* height: calc(100vh - 64px); */
    padding-top: 64px;
    height: calc(320px + 64px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection p {
    max-width: 600px;
    margin-inline: auto;
} 

.heroSection > picture {
    position: absolute;
    margin-left: -30px;
    z-index: -1;
    filter: brightness(25%);
}

.heroSection :not(:first-child) {
    margin: 15px;
    color: white;
    text-align: center;
    line-height: 1.3em;
}

.heroSection a {
    text-decoration: none;
    border-radius: 4px;
    padding: 15px;
    background-color: darkgreen;
}

.heroSection a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 480px) {
    .heroSection {
        height: calc(533px + 64px);
    }
}

@media only screen and (min-width: 800px) {
    .heroSection {
        height: calc(900px + 64px);
    }
}